<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.damoa.toyProject.menu.model.dao.PostMapper">
	<resultMap type="com.damoa.toyProject.menu.model.dto.PostDTO" id="menuResultMap">
		<id property="menuCode" column="MENU_CODE"/>
		<result property="menuName" column="MENU_NAME"/>
		<result property="menuBrand" column="MENU_BRAND"/>
		<result property="menuPrice" column="MENU_PRICE"/>
		<result property="menuRank" column="MENU_RANK"/>
		<result property="categoryCode" column="CATEGORY_CODE"/>
	</resultMap>
	<select id="selectAllPost" resultMap="menuResultMap">
		SELECT
			   A.MENU_CODE
			 , A.MENU_NAME
			 , A.MENU_BRAND
		 	 , A.MENU_PRICE
		 	 , A.MENU_RANK
			 , A.CATEGORY_CODE
	   	  FROM TBL_BURGER_MENU A	
	</select>
	<select id="selectPostBySearchOption" parameterType="SearchOption" resultMap="menuResultMap">
		SELECT
			   A.MENU_CODE
			 , A.MENU_NAME
			 , A.MENU_BRAND
		 	 , A.MENU_PRICE
		 	 , A.MENU_RANK
			 , A.CATEGORY_CODE
	   	  FROM TBL_BURGER_MENU A	
	 	<if test="option == 'menuCode'">
	 	WHERE A.MENU_CODE LIKE '%' || #{value} || '%'
	 	</if>
	 	<if test="option == 'menuBrand'">
	 	WHERE A.MENU_BRAND LIKE '%' || #{value} || '%'
	 	</if>
	 	<if test="option == 'menuPrice'">
	 	WHERE A.MENU_PRICE LIKE '%' || #{value} || '%'
	 	</if>
	 	<if test="option == 'menuRank'">
	 	WHERE A.MENU_RANK LIKE '%' || #{value} || '%'
	 	</if>
	 	ORDER BY A.MENU_CODE DESC
	</select>
	<insert id="registMenuPost" parameterType="com.damoa.toyProject.menu.model.dto.PostDTO">
		INSERT
		  INTO TBL_BURGER_MENU
		  (
		   A.MENU_CODE
		 , A.TITLE
		 , A.CONTENT
		 , A.MENU_BRAND
		 , A.MENU_NAME
		 , A.MENU_PRICE
		 , A.MENU_RANK
		 , A.CATEGORY_CODE
		  )
		  VALUES
		 (
		  SEQ_MENU_CODE.NEXTVAL
		, #{title}
		, #{content}
		, #{menuBrand}
		, #{menuName}
		, #{menuPrice}
		, #{menuRank} 
		, 1
		 ) 
	</insert>
</mapper>
