<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.damoa.toyProject.user.model.dao.UserMapper">
	<resultMap type="com.damoa.toyProject.user.model.dto.UserDTO" id="userResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="email" column="EMAIL"/>
	</resultMap>
<!--  	<select id="selectUserByCode" parameterType="_int" resultType="userResultMap">
		SELECT
		       A.USER_NO
		     , A.USER_NAME
		     , A.USER_ID
		     , A.USER_PWD
		     , A.ENROLL_DATE
		     , A.EMAIL
		 FROM "USER" A
		  AND A.USER_NO = #{userNo}     
	</select> -->
	<insert id="insertNewUser" parameterType="com.damoa.toyProject.user.model.dto.UserDTO">
		INSERT
		  INTO TBL_USER A
		  (
		   A.USER_NO
		 , A.USER_NAME
		 , A.USER_ID
		 , A.USER_PWD
		 , A.EMAIL
		 , A.ENROLL_DATE
		  )
		  VALUES
		  (
		   SEQ_USER_NO.NEXTVAL
		 , #{userNo}
		 , #{userName}
		 , #{userPwd}
		 , #{email}
		 , SYSDATE
		  )
	</insert>
</mapper>
